<!doctype html>
<html lang="en" ng-app="AngularApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="entities.js" type="text/javascript"></script>
    <script src="controllers.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>My first Angular CRUD</title>
</head>
<body>
    <div ng-controller="ProductsCtrl">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>Orders</th>
                <th>
                    <button ng-click="order='name'">NameASC</button><br />
                    <button ng-click="order='-name'">NameDESC</button>
                </th>
                <th>
                    <button ng-click="order='price'">PriceASC</button><br />
                    <button ng-click="order='-price'">PriceDESC</button>
                </th>
                <th>
                    <button ng-click="order='description'">DescriptionASC</button><br />
                    <button ng-click="order='-description'">DescriptionDESC</button>
                </th>
                <th>
                    <input type="number" ng-model="limit" placeholder="Limit list"/>
                    <input type="text" ng-model="search" placeholder="Search in list"/>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products | filter:search | orderBy:order | limitTo: limit">
                    <td></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td><button ng-click="removeProduct(product)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li ng-repeat="product in products">
                <input type="text" placeholder="Name" ng-model="product.name" />
                <input type="number" placeholder="Price" ng-model="product.price"/>
                <textarea placeholder="Description" ng-model="product.description"></textarea>
            </li>
            <li>
                <button ng-click="newProduct()">New</button>
            </li>
        </ul>
    </div>
</body>
</html>